[data-bs-toggle="popover"] {
  text-decoration-style: dotted!important;
  text-decoration-color: var(--bs-gray)!important;
  text-decoration-thickness: 2px!important;
  text-underline-offset: 5px!important;
}

.popover {
  --bs-popover-header-bg: var(--bs-tertiary);
}

.popover-header {
  font-weight: bold;
  color: var(--bs-dark);
}

.popover-body {
  color: var(--bs-secondary-color);
  background-color: var(--bs-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popover-body b {
  color: var(--bs-tertiary);
}

.popover-body strong {
  color: white;
}

.underline-negative {
  text-decoration-color: var(--negative)!important;
}